<div class="page-container home ">
	    {% include '@ibplc/imenux.html.twig' %}
<div>


 
    
    <div class="ab-home-hero parbase">    
    <div class="home-hero">
        <div class="home-hero-inner">
          <div class="home-hero--featured">
        {{ page.main_banner }}    
        </div>
          <div class="home-hero--sidebar">
          <div class="home-hero--featured-tweet">
    <div class="twitter-card-home home-twitter-card ">
      <div class="twitter-card-home-inner">
        <div class="twitter-card-home-body">
          <a href="https://instagram.com/ibplc_ng" class="twitter-card-home-source-container">
            <img src="{{ base_path ~ directory }}/images/ig.png" width="30" style="width:25px; position:absolute; margin-top:6px;" /><h3 class="twitter-card-home-source" style="padding-left:35px;">@ibplc_ng</h3>
          </a>
          <div class="twitter-card-home-tweets-container">
            <ul class="twitter-card-home-tweets-list" id="TwitterData">

            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
	<div class="home-hero--popular-stories">
		{{ page.media_updates }} 
	</div>
		  </div>
        </div>
      </div>
    <div class="content-section flush full-width">
        <div class="content-section-inner">
            <div class="callout-text ">
                <div class="callout-text-inner">
                    <div class="callout-text-content">
                        <p style="text-align:center; color:#222; font-size:110%;"><br>
As a company of owners, we are happy to brew products and build brands that people love, brands that bring people together and will continue to do so for decades to come.
						<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>


    
    
    <div class="ab-homepage-grid"><div class="content-section empty-bg" style="background-color:#fff;">
    <div class="content-section-inner">
        <div class="news-grid-home ">
            <div class="news-grid-home--header ">
                
            </div>  <div class="news-grid-home-inner">
                <div class="news-grid-home--card-row featured ab-slider" data-slider-options="">
                    
<div class="ab-slider-track cf" style="transition: transform 500ms ease 0s; will-change: transform; backface-visibility: hidden; width: 100%; transform: translateX(0px);">
<div class="ibplc-content" style="display:none;">{{ page.ibplc_content }}</div>
<div class="ibplc-def-content">{{ page.content }}</div>
</div>
<div class="ab-slider--controls">
    <a href="javascript:void(0);" class="ab-slider--control control-prev disabled"><span class="ada-text">Previous</span></a>
    <div class="ab-slider--nav-container">
      <div class="ab-slider--nav-container---dot-container"><a href="javascript:void(0);" class="ab-slider--nav-container---nav-button active"></a><a href="javascript:void(0);" class="ab-slider--nav-container---nav-button"></a><a href="javascript:void(0);" class="ab-slider--nav-container---nav-button"></a></div>
      <div class="ab-slider--nav-container---number-container">1 of 3</div>
    </div>
    <a href="javascript:void(0);" class="ab-slider--control control-next"><span class="ada-text">Next</span></a>
  </div></div>
  
  
  
  

            </div>

        </div>
    </div>
</div>

</div>


</div>

		
{% include '@ibplc/ifooter.html.twig' %}
	</div>




<script type="text/javascript" src="assets/clientlib-base.js"></script>
<script type="text/javascript" src="assets/bootstrap.customized.js"></script>