		<nav id="head-nav" class="head-nav fixed" style="">
      <div class="head-nav-container">
      <div class="head-nav-section home-link-container">
          <ul class="home-link-list">
            <li class="home-link-item">    
              <a href="{{ base_path }}" class="home-link nav-logo nav-link">
                <span class="ada-text">IBPLC Logo</span>
                <img class="nav-logo--img" src="{{ base_path ~ directory }}/assets/nlogo.png" alt="ABInBev Logo">
              </a>
            </li>
          </ul>
        </div>   
		<div class="head-nav-section main-link-container" style="right: auto;">
          <div class="main-link-item mobile-menu">    
            <a href="javascript:void(0);" class="main-link mobile-menu-button-close ab-mobile nav-link">
              <span class="ada-text">Close Mobile Nav</span>
            </a>
          </div>

			<div>

<div class="link-container link-container--level-0">  
	<ul class="link-list">
	  <li class="link-item link-item--level-0 link-item--header">
		<span class="nav-link nav-link--level-0">Menu</span>
	  </li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="#">Who We Are</a>
        	<div class="link-container link-container--level-1">
			<div class="shadow-container"></div>
        	<ul class="link-list link-list--level-1">
            <li class="link-item link-item--level-0 link-item--header">
			<a href="javascript:void(0);" class="nav-link nav-back"></a><a class="nav-link nav-link--level-0" href="{{ base_path }}who-we-are">Who We Are</a></li>
			<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}leadership">Leadership Team</a></li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}values">Our Values</a></li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}mission">Our Dream</a></li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1 has-submenu" href="{{ base_path }}history">Our Heritage</a></li>
            </ul>
        	</div>

</li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}what-we-do">What We Do</a>
        	<div class="link-container link-container--level-1">
			<div class="shadow-container"></div>
        	<ul class="link-list link-list--level-1">
            <li class="link-item link-item--level-0 link-item--header">
			<a href="javascript:void(0);" class="nav-link nav-back"></a><a class="nav-link nav-link--level-0" href="{{ base_path }}what-we-do">What We Do</a></li>
            <li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}responsible-drinking">Responsible Drinking</a></li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1" href="https://www.internationalbreweriesfoundation.org/" target="_blank">International Breweries Foundation</a></li>
            </ul>
        	</div>

</li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}brands">Our Brands</a></li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}policies">Our Policies</a></li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}sustainability">Sustainability</a>
        	<div class="link-container link-container--level-1">
			<div class="shadow-container"></div>
        	<ul class="link-list link-list--level-1">
            <li class="link-item link-item--level-0 link-item--header">
			<a href="javascript:void(0);" class="nav-link nav-back"></a><a class="nav-link nav-link--level-0" href="{{ base_path }}sustainability">Sustainability</a></li>
            <li class="link-item link-item--level-0"><a class="nav-link nav-link--level-1  " href="{{ base_path }}2025-goals">2025 Sustainability Goals </a>

            
            </li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}csi">Corporate Social Investment &#8594;</a>
        	
<div class="link-container link-container--level-2">
			  <div class="shadow-container"></div>
             
        	<ul class="link-list link-list--level-2">
                <li class="link-item link-item--level-1 link-item--header">
				  <a href="javascript:void(0);" class="nav-link nav-back"></a>
				  <a class="nav-link nav-link--level-1" href="2025-goals">Corporate Social Investment</a>
				</li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}empowerment">Empowerment</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}education">Education</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}health">Health</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}infrastructure-support">Infrastructural Support</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}responsible-drinking">Responsible Drinking</a></li>
</ul>
</div>        	
        	</li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1 has-submenu" href="#">National CSR Projects &#8594;</a>
<div class="link-container link-container--level-2">
			  <div class="shadow-container"></div>
             
        	<ul class="link-list link-list--level-2">
                <li class="link-item link-item--level-1 link-item--header">
				  <a href="javascript:void(0);" class="nav-link nav-back"></a>
				  <a class="nav-link nav-link--level-1" href="#">National CSR Projects &#8594;</a>
				</li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}kickstart">KickStart</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}trophy-academy">Trophy Academy</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}digital-villages">Digital Villages</a></li>
<li class="link-item link-item--level-2"><a class="nav-link nav-link--level-2  " href="{{ base_path }}volunteering">Volunteering (Better World Champions)</a></li>
</ul>
</div>          	</li>
        	<li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1 has-submenu" href="{{ base_path }}cdp">Community Development Projects</a></li>
            </ul>
        	</div>
</li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}media">News &amp; Media</a></li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="#">Investor Relations</a>
<div class="link-container link-container--level-1">
			<div class="shadow-container"></div>
        	<ul class="link-list link-list--level-1">
            <li class="link-item link-item--level-0 link-item--header">
			<a href="javascript:void(0);" class="nav-link nav-back"></a><a class="nav-link nav-link--level-0" href="#">Investor Relations</a></li>
            <li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}board">Our Board</a></li>
            <li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}reports">Annual Reports</a></li>
            <li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}po">Purchase Order T&C</a></li>
            </ul>
        	</div>
</li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}careers">Careers</a>
<div class="link-container link-container--level-1">
			<div class="shadow-container"></div>
        	<ul class="link-list link-list--level-1">
            <li class="link-item link-item--level-0 link-item--header">
			<a href="javascript:void(0);" class="nav-link nav-back"></a><a class="nav-link nav-link--level-0" href="{{ base_path }}careers">Careers</a></li>
            <li class="link-item link-item--level-1"><a class="nav-link nav-link--level-1  " href="{{ base_path }}gmtp">Global Management Trainee Program</a></li>
            </ul>
        	</div>

</li>
<li class="link-item link-item--level-0"><a class="nav-link nav-link--level-0" href="{{ base_path }}contactus">Contact</a></li>
</ul>
</div>

</div>

         </div>    
		<div class="head-nav-section">
          <ul class="utility-links-list">
            <li class="utility-link-item nav-link-container">
              <a class="utility-link utility-link--language nav-link" href="{{ base_path }}contact"><span class="ada-text">Our Locations</span></a>
            </li>
            <li class="utility-link-item nav-link-container">
              <a class="utility-link utility-link--search nav-link" href="#"><span class="ada-text">Search</span></a>
                <div id="utility-link--search-expanded" class="utility-link--search-expanded enabled">
                    <div class="utility-link--search-expanded-inner">
                        <div class="utility-link--search-form">
                            <form action="global.html" class="utility-link--search-form">
                                <input type="text" class="utility-link--search-input" name="keyword" id="globelSearchKey" placeholder="Keywords, titles, categories...">
                                <input type="submit" class="utility-link--search-submit button primary" value="Search">
                            </form>
                        </div>
                        <ul class="utility-link--search-links">
                            <li class="utility-link--search-link-wrapper">
                                <a href="investors/document-search.html" class="utility-link--search-link">Document Search</a>
                            </li>
                            
                                
                            
                        </ul>
                    </div>
                </div>
            </li>
            <li class="utility-link-item">
              <a href="javascript:void(0);" class="utility-link--mobile-menu ab-mobile mobile-menu-button nav-link">
                <span class="ada-text">Mobile Menu</span>
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
